.img {
  width: 100%;
  height: 550px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.background {
  background-color: var(--strong-red);
  position: relative;
}
.seeMore{
  cursor: pointer;
}
.index {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-family: 'Bebas Neue', sans-serif;
}

.text h1:first-child {
  color: var(--white);
}

.text h1:last-child {
  color: var(--white);
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.box button{
  height: 70px;
  width: 100%;
  border: 0px;
  border-radius: 20px;
  background-color: var(--red);
  color: var(--white);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 60px;
  font-weight: 300;
}
.box button:hover{
  background-color: var(--hover-red);
  cursor: pointer;
}
.title {
  color: var(--red);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 70px;
  margin-bottom: 75px;
}
.box p:nth-child(2){
  margin-bottom: 75px;

}
.cardBenefits {
  margin-top: 50px;
  width: 80vw;
  height: 350px;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 60px;
}

.cardBenefits div {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--strong-red);
}

.cardBenefits div svg {
  font-size: 50px;
  margin-bottom: 40px;
}

.cardBenefits div:nth-child(3) svg {
  font-size: 60px;
  margin-bottom: 30px;
}

.cardBenefits div h1 {
  font-size: 40px;
  font-family: 'Bebas Neue', sans-serif;
  margin-bottom: 40px;
}

.cardBenefits div p {
  font-size: 16px;
  width: 80%;
  font-weight: 600;
  color: var(--gray);
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 40px;
}

.groups {
  overflow-y: hidden;
}

.line {
  background-color: var(--gray) !important;
  width: 2px !important;
}

.seeMore {
  font-size: 50px;
  font-family: 'Bebas Neue', sans-serif;
  margin-top: 50px;
  color: var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.seeMore svg {
  margin-top: -20px;
  font-size: 110px;
}
.video{
width: 300px;
}
.video2 div{
  width: 40vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.video2{
  font-family: 'Montserrat', sans-serif;
  width: 80vw;
  display: flex;
  justify-content: space-around;
  font-size: 31px;
  color: white;
  font-weight: 700;
}
@media (max-width:1210px) {
  .cardBenefits div:nth-child(5) svg {
    margin-bottom: 40px;
  }
  .cardBenefits div:nth-child(5) h1 {
    margin-bottom: 20px;
  }
  .cardBenefits div:nth-child(5) p {
    margin-bottom: 0px;
  }
  .text {
    font-size: 60px;
  }
  .video2{
    font-size: 27px;    
  }
}

@media (max-width:1000px) {
  .cardBenefits{
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 80vw;
    padding: 40px 10px;
  }
  .cardBenefits div {
    width: 100%;
  }
  .cardBenefits div svg {
    margin-bottom: 20px;
  }
  .cardBenefits div:nth-child(3) svg {
    margin-bottom: 20px;
  }
  .cardBenefits div:nth-child(5) svg {
    margin-bottom: 20px;
  }
  .cardBenefits div h1 {
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 15px;
  }
  .video2 > div{
    display: none;
  }
}

@media (max-width:550px) {
  .video{
    display: flex;
  }
  .video2 > div{
    display: none;
  }
}