.background{
    height: 100vh;
    width: 80vw;
    position: fixed;
    right: 0px;
    bottom: 0px;
    background-color: rgb(37, 9, 9);
    z-index: 1;
}
.background svg{
    color: white;
    font-size: 30px;
    position: fixed;
    right: 20px;
    top: 100px;
    
}
